@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line {
    @apply bg-gray h-px;
  }
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 3px;
}

.container {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1600px) {
    max-width: 1300px;
  }
}
