/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line {
    @apply bg-gray h-px;
  }
}
@layer components {
  .dropdown-menu {
    @apply grid grid-cols-4 w-max gap-y-4 gap-x-6 absolute right-1/2 top-0 translate-x-1/2 bg-black/95 p-4 rounded text-xs opacity-0 pointer-events-none duration-150 group-hover:opacity-100 group-hover:pointer-events-auto group-hover:top-8 before:absolute before:h-3 before:w-16 before:right-1/2 before:translate-x-1/2 before:-top-3 group-hover:text-white;
  }
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 3px;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.container {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
    width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}

.movie-card {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.movie-card:hover .btn-play {
  display: block;
}
.movie-card:hover .image-movie {
  opacity: 0.1;
  transform: scale(1.15);
}
.image-movie {
  transition: 0.7s ease;
  transform: scale(1.01);
  height: auto;
  object-fit: cover;
  height: 200px;
  width: 140px;
}
.image-movie-item {
  object-fit: cover;
  height: 110px;
  width: 110px;
  overflow: hidden;
}
.icon-rating {
  margin-right: 4px;
}
.advertising-card {
  position: relative;
}

.advertising-image {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: auto;
}

.recommend-card {
  background: rgba(15, 15, 15, 0.9);
}
.recommend-card:hover {
  background: #000;
}

.recommend-card:hover .icon-rating {
  color: #408bea;
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn-play {
  position: absolute;
  top: 40%;
  left: 34%;
  display: none;
}

.swiper-pagination {
  position: relative;
  transition: 300ms opacity;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  left: 50%;
  margin-top: 30px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 40px;
  background: gray;
  margin-right: 8px;
}
.swiper-pagination-bullet-active {
  background: #fff;
  border-radius: 40px;
  height: 8px;
  width: 40px;
}
.heading-archive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-archive::before {
  background-color: rgba(255, 255, 255, 0.08);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 30%;

  /* margin-left: -30%; */
}
.heading-archive::after {
  background-color: rgba(255, 255, 255, 0.08);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 30%;

  /* margin-right: -30%; */
}
.swiper-pagination {
  position: relative;
  transition: 300ms opacity;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  left: 50%;
  margin-top: 30px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 40px;
  background: gray;
  margin-right: 8px;
}
.swiper-pagination-bullet-active {
  background: #fff;
  border-radius: 40px;
  height: 8px;
  width: 40px;
}
